
  <button *ngIf="chatHistoryThreadList.length > 0" mat-flat-button class="full-width" color="warn" mat-button (click)="reset()">Delete</button>

  <mat-divider></mat-divider>
  
  <mat-list 
    style="overflow: scroll; height: xyz;" 
    #scrollMe 
    #messages
    id="scrollMe"
    [scrollTop]="scrollMe.scrollHeight" 
    *ngIf="chatHistoryThreadList.length > 0"
    class="conversation-history">
     
    <mat-list-item 
      *ngFor="let message of chatHistoryThreadList" 
      [dir]="message.createdByUserId === '7' ? 'rtl' : 'ltr'">
      <img matListAvatar src="https://randomuser.me/api/portraits/thumb/lego/{{message.createdByUserId}}.jpg"/>
      <p mat-line >{{message.text}}</p>
      <p mat-line class="date" >{{ message.createdDate | date }}</p>
    </mat-list-item>
  </mat-list>
  
  <div class="bottom" id="bottom">
    <textarea placeholder="Type here.." matInput [(ngModel)]="textMessage" class="input" id="input"></textarea>
    <button id="send" class="send" (click)="sendMessage()" mat-icon-button>
      <mat-icon >send</mat-icon>
    </button>
  </div>

