


.full-width {
  width: 100%;
  .mat-icon {
    cursor: pointer;
  }
}


.conversation-history {
  &.mat-list {
    height: calc(100% - 180px);
    overflow-x: scroll;
    position: absolute;
    width: 100%;
    mat-list-item {
      &.me {
        float: right;
        background: orangee !important;
    
      }
    }
    p {
      margin: 0;
      display: inline-block;
    }
  }
}




p {
  &.date {
    font-size: 12px !important;
    color: #909090 !important;
  }
}


#bottom {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 64px;
  background: #fff;
  
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
  
  .input {
    height: 64px;
    background: #fff;
    border: none;
    width: calc(100% - #{64px});
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5%;
    resize: none;
    overflow: scroll;
    padding-top: (64px/2) - 8;
    font-weight: 300;
    
    &:focus {
      outline: none;
    }
  
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    //gotta hide windows scrollbars
    
    &::-webkit-scrollbar {
      width: 0 !important
    }
  }

  .send {
    position: fixed;
    // height: 64px/1.5;
    // width: 64px/1.5;
    // border-radius: 50%;
    border: 0;
    background: #3f51b5;
    color: #fff;

    bottom: (64px - (64px/1.5)) / 2;
    right: (64px - (64px/1.5)) / 2;
    
    &:focus {
      outline: none;
    }
    
    &:hover {
      cursor: pointer;
    }
  }
}

.mat-icon-button .mat-icon, .mat-icon-button i {
  line-height: 20px !important;
}