<mat-list>
  <mat-list-item *ngIf="feMessages">
    <img 
    matListAvatar 
    src="https://randomuser.me/api/portraits/thumb/lego/{{latestChatList.createdByUserId}}.jpg"
    />
    <h6 mat-line>{{latestChatList.createdByUserName}}</h6>
    <p mat-line>{{latestChatList.text}}</p>
    <p class="date" mat-line >{{ latestChatList.createdDate | date}}</p>
  </mat-list-item>
  <p class="error-text" *ngIf="!feMessages">No recent messages 🤔!</p>
</mat-list>