h6 {
  font-weight: 700 !important;
  margin-bottom: 7px !important;
}

p{
  &.date {
    font-size: 12px !important;
    color: #909090 !important;
  }
  &.error-text {
    font-size: 14px !important;
    // color: color($colors, primary) !important;
    font-variant: all-small-caps !important;
    text-align: center !important;
  }
}