<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="page-name">{{ tabTitle }}</h1>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav class="app-sidenav" #snav mode="push" fixedTopGap="56">
    <mat-nav-list>
      <a 
        mat-list-item 
        *ngFor="let tab of tabs" 
        [routerLink]="tab.link" 
        (click)="snav.close()">{{tab.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav mat-stretch-tabs mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let tab of tabs"
        [routerLink]="tab.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="example-tab-icon">{{ tab.icon }}</mat-icon>
        &nbsp; {{ tab.title }}
      </a>
    </nav>

    <!-- All tabs content -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
