.app-toolbar {
  /* position: fixed; */
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  h1.page-name {
    margin-left: 8px;
    text-transform: capitalize;
  }
  
}


.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  height: 100%;
  .app-sidenav {
    width: 256px;
  }
  
}


